{% extends 'daystarApp/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<style>
    .baby-form {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        max-width: 50%;
        margin: auto;
        padding: 15px;
        background-color: white;
        border-radius: 0px;
        border: none;
    }

    .baby-form input[type="text"],
    .baby-form input[type="email"],
    .baby-form input[type="password"],
    .baby-form textarea,
    .baby-form select {
        border: none;
        border-bottom: 1px solid #ccc;
        outline: none;
        width: 100%;
        padding: 5px;
        margin-bottom: 10px;
    }

    h4 {
        text-align: center;
        font-family: sans-serif;
        color: #5500cb;
        margin-bottom: 20px;
        font-weight: bold;
    }

    label {
        font-weight: bold;
        margin-top: 7px;
        margin-bottom: 5px;
    }

    button[type="submit"],
    .btn-primary {
        background-color: blue;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        margin-right: 10px;
    }

    .btn-container {
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }

    #but, #sa {
        color: white;
        border: none;
        font-size: 16px;
        cursor: pointer;
        padding: 10px 20px;
        width: 150px;
        border-radius: 30px;
        font-weight: bold;
        text-align: center;
        margin: 10px 10px;
    }
</style>  



<div class="container" style="border: none;">
    <br><br>
    <form method="POST" class="baby-form">
        <h4>Add new doll here</h4>
        {% csrf_token %}
        {{ form | crispy }}
        <div class="btn-container">
            <button type="submit" class="btn btn-primary" id="sa">Add</button>
            
            <a href="/doll_list" class="btn btn-primary" style="background-color: #5500cb;" id = "but">Go Back</a>
        </div>
    </form>
    <br><br>
</div>

{% endblock %}
