{% extends 'daystarApp/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<style>
    /* Center the heading */
    h4#sit {
        font-family: sans-serif;
        color: #5500cb;
        text-align: center;
        font-size: 30px; 
        font-weight: 600; 
        margin: 20px 0;
    }

    /* Style for the form container */
    .form-container {
        max-width: 50%;
        margin: auto;
        padding: 15px;
        background-color: white;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    /* Style for form fields */
    .form-container .form-group label {
        font-weight: bold;
    }

    .form-container .form-control {
        border: none;
        border-bottom: 1px solid #ced4da;
        border-radius: 0;
        padding: 10px;
        box-sizing: border-box;
    }

    /* Style for buttons */
    .btn {
        margin: 10px 5px 0 0;
        padding: 10px 20px;
        text-align: center;
        border-radius: 30px;
        font-weight: bold;
        width: 100px; /* Ensure both buttons have the same width */
    }

    .btn-primary {
        background-color: blue;
        color: white;
        border: none;
        cursor: pointer;
    }

    .btn-purple {
        background-color: #5500cb;
        color: white;
        border: none;
        cursor: pointer;
    }

    #back {
        margin-top: 10px;
        color: white;
        border: none;
        font-size: 16px;
        cursor: pointer;
        padding: 10px 20px;
        background: #3f0097;
        width: 120px;
        border-radius: 30px;
        font-weight: bold;
        text-align: center;
    }
</style>

<br><br>
<div class="form-container">
    <h4 id="sit">Add Sitter Payment</h4><br>
    <form method="POST" class="baby-form">
        {% csrf_token %}
        {{ form|crispy }}
        
        <div>
            <button type="submit" class="btn btn-primary">Add</button>
            <a href="/sit_payments"><button type="button" class="btn btn-primary" id="back" style="background-color:  #3f0097;">Go back</button></a>
        </div>
    </form>
</div><br><br>
{% endblock %}
