{% extends 'daystarApp/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<style>
    .baby-form {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        max-width: 50%;
        margin: auto;
        padding: 15px;
        background-color: white;
        border-radius: 0px;
        border: none;
    }

    .baby-form label {
        font-weight: bold;
        margin-bottom: 5px;
    }

    .baby-form input[type="text"],
    .baby-form select {
        width: 100%;
        padding: 8px;
        border: none;
        border-bottom: 1px solid black;
        box-sizing: border-box;
        outline: none; /* Removes default input focus outline */
    }

    .baby-form button[type="submit"], #go {
        margin-top: 10px;
        color: white;
        border: none;
        font-size: 16px;
        cursor: pointer;
        padding: 10px 20px;
        background-color: blue;  /* Match the go back button color */
        width: 150px;
        border-radius: 30px;
        font-weight: bold;
        text-align: center;
    }

    .baby-form a {
        display: inline-block;
        margin-top: 10px;
        padding: 10px 20px;
        background-color: white;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        font-weight: bold;
    }

    h4 {
        text-align: center;
        font-size: 30px;
        font-weight: 600;
        color: #5500cb;
        margin: 20px;
    }
</style>



<div class="container">
    <br><br>
    <form method="POST" class="baby-form">
        <h4>Add new stock here</h4>
        {% csrf_token %}
        {{ form | crispy }}
        <div>
        <button type="submit" class="btn btn-primary">Add</button>
        <a href="/stock_list" class="btn btn-primary" id="go" style="background-color: #5500cb;">Go Back</a>
        </div>
    </form>
</div><br><br>

{% endblock %}
