{% extends 'daystarApp/base.html' %}
{% load static %}

{% block content %}
<style>
    /* Table Styles */
    .table-container {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        overflow-x: auto;
        max-width: 100%;
        background-color: white; /* Added white background */
        border-radius: 20px; /* Added border-radius for container */
        padding: 10px; /* Added padding for container */
        margin: 20px; /* Added margin for container */
    }

    .table-bordered th,
    .table-bordered td {
        border: 1px solid #dee2e6;
    }

    .table-hover tbody tr:hover {
        background-color: rgba(0, 0, 0, 0.075);
    }

    /* Table Header Styles */
    .table-head {
        background: #3f0097;
        color: white;
        font-weight: bold;
    }

    .table-head th {
        padding: 10px;
        text-align: center;
    }

    /* Container Styles */
    .box-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }

    /* Responsive Styles */
    @media screen and (max-width: 768px) {
        .box-container {
            flex-direction: column;
        }
    }

    @media screen and (max-width: 576px) {
        .table-head th {
            font-size: 12px;
            padding: 8px;
        }
    }

    .mb-3 {
        margin-bottom: 3rem;
    }

    .btn-primary {
        color: #fff;
        background-color: #3f0097;
        border-color: #3f0097;
        padding: 8px;
        width: 100px;
    }

    .btn-primary:hover {
        background-color: #2f0077;
        border-color: #2f0077;
    }

    h4 {
        color: #0C356A;
        margin: 5px 20px 5px 0;
    }

    .title-button-container {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    h4 {
        text-align: center;
        font-size: 30px; 
        font-weight: 600; 
        color: #5500cb; 
        margin: 20px;
    }
</style>

<div class="table-container">
    <div class="table-responsive">
        <div class="title-button-container">
            <h4 class="mb-3">Baby payments</h4>
            <a href="/add_baby_payment" class="btn btn-primary mb-3" style="margin-left:700px; width:100px;">Add payment</a>
        </div>
        <table class="table table-bordered table-hover">
            <thead class="table-head">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Period of stay</th>
                    <th scope="col">Amount paid</th>
                    <th scope="col">Full amount</th>
                    <th scope="col">Balance</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for baby in baby_payment %}
                <tr style="background-color: white;">
                    <td>B00{{ baby.baby_id }}</td>
                    <td>{{ baby.name_of_baby }}</td>
                    <td>{{ baby.period_of_stay }}</td>
                    <td>{{ baby.amount_paid }}</td>
                    <td>{{ baby.original_amount }}</td>
                    <td>{{ baby.baby_payment }}</td>
                    <td>
                        <div>
                          <a href="/edit_baby_payment/{{ baby.baby_id }}" class="btn btn-primary" style="background-color: blue;">Edit</a> <!-- Changed button color to blue -->
                          <a href="/baby_receipt/" class="btn btn-primary" style="background-color: blue;">Receipt</a> <!-- Changed button color to blue -->
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
