{% extends 'daystarApp/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

<body>
    {% block content %}

    <form method="post" class="flex gap-2 p-4">
        {% csrf_token %}
        <input type="text" name="query" required minlength="3" placeholder="Search Student"
            class="p-2 rounded-lg border w-full">
        <button class="p-2 bg-black text-white rounded-lg" type="submit"> Search </button>
    </form>
    <a href="/add_baby/" class="p-2 bg-green-500 text-white rounded-lg shadow-lg"> Add baby </a>
    <p class="text-sm text-gray-500 p-2"> {{ result_count }} Babies </p>
    <table class="w-full">
        <thead class="bg-black text-white">
            <tr>
                <th> # </th>
                <th> Name </th>
                <th> Age </th>
                <th> Gender </th>
                <th> Location </th>
                <th> Name of parent </th>
                <th> Fee </th>
                <th> Period of stay </th>
                <th> {{ result_count }}</th>
            </tr>
        </thead>
        <tbody>
            {% for baby in all_babies %}
            <tr class="p-2">
                <th> B00-{{ baby.baby_id }}</th>
                <td> <a href="/view_bebs/{{ baby.baby_id }}" class="text-blue-500"> {{ baby.baby_name }} </a> </td>
                <td> {{ baby.baby_age }} </td>
                <td> {{ baby.baby_gender }} </td>
                <td> {{ baby.baby_location }} </td>
                <td> {{ baby.parents_name }} </td>
                <td> {{ baby.baby_fee }} </td>
                <td> {{ baby.period_of_stay }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endblock %}
</body>