{% extends 'daystarApp/base.html' %}


{% load static %}

{% block content%}

<style>
    
    
    .table-responsive {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
    }
    h4{margin-left:490px;
    margin-top:5px ;}

    .table-container {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        overflow-x: auto; /* Ensure horizontal scroll when needed */
        max-width: 100%; /* Ensure the table container doesn't overflow its parent */
    }
    .table-responsive {
        overflow-x: auto; /* Ensure horizontal scroll when needed */
    }
    h4 {
        margin-left: 490px;
        margin-top: 5px;
        color:#0C356A;
       }
        
</style>
</head>
<body>
<h4 class="mb-3">Baby payments</h4>
<a href="/add_baby_payment" class="btn btn-primary mb-3">Add new baby payment</a>

<div class="table_container">
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr class="table-dark">
          
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Period of stay</th>
                <th scope="col">Amount paid</th>
                <th scope="col">Full amount</th>
                <th scope="col">Balance</th>
                
            </tr>
        </thead>
        <tbody>
            {% for baby in baby_payment %}
            <tr style="background-color: white;">
                
                <td>{{ baby.baby_id }}</td>
                <td>{{ baby.name_of_baby }}</td>
                <td>{{ baby.period_of_stay }}</td>
                <td>{{ baby.amount_paid }}</td>
                <td>{{ baby.original_amount }}</td>
                <td>{{ baby.baby_payment }}</td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
</div>


{% endblock %}