{% extends 'daystarApp/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<style>
    .sitter-form {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        max-width: 50%;
        margin: auto;
        padding: 15px;
        background-color: white;
        border-radius: 0px;
        border: none;
    }

    .sitter-form label {
        font-weight: bold;
        margin-bottom: 5px;
    }

    .sitter-form input[type="text"],
    .sitter-form select {
        width: 100%;
        padding: 8px;
        border: none;
        border-bottom: 1px solid black;
        box-sizing: border-box;
    }

    .sitter-form button[type="submit"] , #but{
        margin-top: 10px;
        color: white;
        border: none;
        font-size: 16px;
        cursor: pointer;
        padding: 10px 20px;
        {% comment %} background:#3f0097; {% endcomment %}
        width:150px;
        border-radius:30px;
        font-weight: bold;
        text-align: center;
    }

    h4 {
        text-align: center;
        font-family: sans-serif;
        color:#5500cb;
        font-weight: bold;
    }

    label {
        font-weight: bold;
        margin-top: 7px;
        margin-bottom: 5px;
    }

    button[type="submit"] {
        margin-top: 2px;
        background-color: blue;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        padding: 10px 20px; /* Added padding for consistency */
    }
</style>


<br><br>
<div class="container">
    
    <form method="POST" class="sitter-form">
        <h4>Edit baby departure</h4>
        {% csrf_token %}
        {{ form | crispy }}

        <div>
           <button type="submit">Edit</button>
           <a href="/baby_depart" class="btn btn-primary" id="but" style="background-color: #5500cb;">Go Back</a>
        </div>
    </form>
</div><br><br>
{% endblock %}
