{% extends 'daystarApp/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

<body>
{% block content %}
<style>
    .sitter-form {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        max-width: 50%;
        margin: auto;
        padding: 15px;
        background-color: white;
        border-radius: 0px;
        border: none;
    }

    .sitter-form input[type="text"],
    .sitter-form input[type="email"],
    .sitter-form input[type="password"],
    .sitter-form textarea,
    .sitter-form select {
        border: none;
        border-bottom: 1px solid #ccc;
        outline: none;
        width: 100%;
        padding: 5px;
        margin-bottom: 10px;
    }

    h4 {
        text-align: center;
        font-family: sans-serif;
        color: #5500cb;
        margin-bottom: 20px;
        font-weight: bold;
        
    }

    label {
        font-weight: bold;
        margin-top: 7px;
        margin-bottom: 5px;
    }

    button[type="submit"],
    .btn-primary {
        background-color: blue;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        margin-right: 10px;
    }

    .btn-container {
        margin-top: 20px;
        display: flex;
        justify-content: flex-end;
    }
    #but, #sa{
        {% comment %} background: #5500cb; {% endcomment %}
        color: white;
        border: none;
        font-size: 16px;
        cursor: pointer;
        padding: 10px 20px;
        width:150px;
        border-radius:30px;
        font-weight: bold;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 50px;
        margin-right: 50px;
      }
</style>


<br><br>
<div class="container" style="border: none;">
    <form method="POST" class="sitter-form">
        <h4>Add to baby departure</h4>
        {% csrf_token %}
        {{ form | crispy }}
        <div class="btn-container">
            <button type="submit" class="btn btn-primary" id="sa">Add</button>
            <a href="/baby_depart" class="btn btn-primary" id="but" style="background-color: #5500cb;">Go Back</a>
        </div>
    </form>
    
</div>
<br><br>
{% endblock %}
</body>