{% extends 'daystarApp/base.html' %}


{% load static %}

{% block content%}

<style>
    
    
    .table-responsive {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
    }
    h4{margin-left:490px;
    margin-top:5px ;}

    .table-container {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        overflow-x: auto; /* Ensure horizontal scroll when needed */
        max-width: 100%; /* Ensure the table container doesn't overflow its parent */
    }
    .table-responsive {
        overflow-x: auto; /* Ensure horizontal scroll when needed */
    }
    h4 {
        margin-left: 490px;
        margin-top: 5px;
        color:#0C356A;
        text-shadow: 2px 2px 4px #000000;}
        
</style>
</head>
<body>
<h4 class="mb-3">Baby departure form</h4><hr>


<div class="table_container">
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr class="table-dark">
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">baby_picker</th>
                <th scope="col">Date</th>
                <th scope="col">Time out</th>
                <th scope="col">comment</th>
                <th scope=>Action</th>
               
            </tr>
        </thead>
        <tbody>
            
            <tr style="background-color: white;">
                <td>{{ depart_info.id }}</td>
                <td>{{ depart_info.name_of_baby }}</td>
                <td>{{ depart_info.baby_picker }}</td>
                <td>{{ depart_info.date_of_departure }}</td>
                <td>{{ depart_info.timeout }}</td>
                <td>{{ depart_info.comment }}</td>
                <td>   
                    <a href="{% url 'depart_baby_edit' baby_id=depart_info.baby_id %}" class="btn btn-primary">Edit</a>
                </td>
            </tr>
        
        </tbody>
    </table>

</div>
</div>


{% endblock %}