{% extends 'daystarApp/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<style>
    /* Center the heading */
    h4#sit {
        font-family: sans-serif;
        color: #3f0097;
        text-align: center;
        font-size: 30px;
        font-weight: 600;
        margin: 20px 0;
    }

    /* Style for the form container */
    .form-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        max-width: 50%;
        margin: auto;
        padding: 15px;
        background-color: white;
        border-radius: 0px;
        border: none;
    }

    /* Style for form fields */
    .form-container label {
        font-weight: bold;
        margin-bottom: 5px;
        text-align: left;
    }

    .form-container input[type="text"],
    .form-container select {
        width: 100%;
        padding: 8px;
        border: none;
        border-bottom: 1px solid black;
        box-sizing: border-box;
    }

    /* Style for buttons */
    .btn {
        margin: 10px;
        padding: 10px 20px;
        width: 150px;
        text-align: center;
        border-radius: 30px;
        font-weight: bold;
        transition: color 0.3s ease;
    }

    .btn-primary {
        background-color: blue;
        color: white;
        border: none;
        cursor: pointer;
    }

    .btn-primary:hover {
        color: white;
    }

    .btn-purple {
        background-color: #3f0097;
        color: white;
        border: none;
        cursor: pointer;
    }

    .btn-purple:hover {
        color: white;
    }
</style>
<br><br>
<div class="form-container">
    <h4 id="sit">Edit Sitter Departure</h4><br>
    <form method="POST" class="baby-form">
        {% csrf_token %}
        {{ form|crispy }}
        
        <div>
        </a href="/edit_sit_payment"><button type="submit" class="btn btn-primary">Edit</button></a>
            <a href="/sit_depart" class="btn btn-purple">Go Back</a>
        </div>
    </form>
</div><br><br>
{% endblock %}
