{% extends 'daystarApp/base.html' %}
{% load crispy_forms_tags %}
{% load static %}


<body>
{% block content %}
<style>
    .sitter-form {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        max-width: 50%;
        margin: auto;
        padding: 15px;
        background-color: white;
        border-radius: 0px;
        border: none;
    }


    .sitter-form label {
        font-weight: bold;
        margin-bottom: 5px;
    }

    .sitter-form input[type="text"],
    .sitter-form select {
        width: 100%;
        padding: 8px;
        border: none;
        border-bottom: 1px solid black;
        box-sizing: border-box;
    }

    h4 {
        text-align: center;
        font-size: 30px; 
        font-weight: 600; 
        color: #5500cb; 
        margin: 20px;
    }
    

    label {
        font-weight: bold;
        margin-top: 7px;
        margin-bottom:5px ;
    }

    button[type="submit"] , #go {
        margin-top: 10px;
        color: white;
        border: none;
        font-size: 16px;
        cursor: pointer;
        padding: 10px 20px;
        {% comment %} background:#3f0097; {% endcomment %}
        width:150px;
        border-radius:30px;
        font-weight: bold;
        text-align: center;

    }
</style>  


<br><br>
<div class="container">
    <form method="POST" class="sitter-form">
        <h4>Make doll payment </h4>
        {% csrf_token %}
        {{ pay_form | crispy }}

        <div>
        <button type="submit" class="btn btn-primary">Get receipt</button>
        <a href="/doll_list" class="btn btn-primary" id="go" style="background-color: #5500cb;">Go Back</a>
        </div>
    </form>
</div><br><br>
{% endblock %}
</body>
