{% extends 'daystarApp/base.html' %}

{% load static %}

{% block content%}

<style>
    .table-responsive {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
    }
    .table-container {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        overflow-x: auto;
        max-width: 100%;
    }
    h4 {
        margin-left: 490px;
        margin-top: 5px;
        color: #0C356A;
    }
</style>

<h4 class="mb-3">All available dolls</h4>

<a href="{% url 'add_doll' %}" class="btn btn-primary mb-3" style="margin-left: 1000px;">Add new doll</a>

<div class="table-container">
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead class="table-dark">
                <tr class="table-dark">
                    <th scope="col">#</th>
                    <th scope="col">Doll type</th>
                    <th scope="col">Name</th>
                    <th scope="col">Unit price</th> 
                    <th scope="col">Description</th>
                    <th scope="col">Quantity</th>                         
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for doll in dolls_list %}
                <tr style="background-color: white;">
                    <th>{{ doll.doll_id }}</th>
                    <td>{{ doll.doll_type }}</td>
                    <td>{{ doll.doll_name }}</td>
                    <td>{{ doll.doll_price }}</td>
                    <td>{{ doll.doll_description }}</td>
                    <td>{{ doll.doll_quantity }}</td>
                    <td>    
                           
                            <div>
                                <a href="{% url 'doll_view' id=doll.doll_id %}" class="btn btn-primary">View</a>
                                <a href="{% url 'add_one_doll' id=doll.doll_id %}" class="btn btn-primary">Add</a>
                                <a href=" {% url 'doll_edit' id=doll.doll_id %} "><button type="submit" class="btn btn-primary">Edit doll</button></a>
                                <a href="{% url 'doll_pay' id=doll.doll_id %} "> <button type="submit" class="btn btn-primary">Sell doll</button></a>
        
                            </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}


