{% extends 'daystarApp/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<style>
    /* Center the heading */
    h4 {
        font-family: sans-serif;
        color: #0C356A;
        text-align: center;
    }

    /* Style for the form container */
    .baby-form {
        display: grid;
        grid-template-columns: repeat(1fr);
        gap: 10px;
        max-width: 50%;
        margin: auto;
        padding: 15px;
        background-color: white;
        border-radius: 10px;
        {% comment %} border: solid 1px black; {% endcomment %}
    }

    .baby-form label {
        font-weight: bold;
        margin-top: 7px;
        margin-bottom: 5px;
    }

    .baby-form button[type="submit"] {
        margin-top: 2px;
        background-color: blue;
        color: white;
        border: none;
        border-radius: 30px;
        font-size: 16px;
        cursor: pointer;
        padding: 10px 20px;
        width: 150px;
    }
    h4 {
        font-family: sans-serif;
        color:  #3f0097;
        text-align: center;
        font-size: 30px; 
        font-weight: 600; 
        margin: 20px 0;
    }
</style>


<br><br>
<div class="container">
    
    <form method="POST" class="baby-form">
        <h4>Edit baby payments </h4>
        {% csrf_token %}
        {{ form | crispy }}

        <div>
        <button type="submit">Edit</button>
        <a href="/baby_pay" class="btn btn-purple"><button type="submit" style="background-color:  #3f0097;">Go back</button></a>
        </div>

    </form>
</div><br><br>

{% endblock %}
