 {% extends 'daystarApp/base.html' %}
{% load static %}

{% block content %}

<body>
  <style>

      .table-head{
        background:#3f0097;
        
      }

      .no{
        color:white;
       
        font-weight:bold;
        margin-left:10px;
        margin-top:10px;
      }

    
      {% comment %} #3f0097 {% endcomment %}
  </style>


    <div class="box-container" style="display: flex; flex-direction: row;">

        {% comment %} <div> {% endcomment %}
            <div class="box box1" style="margin-left:20px; margin-top:20px;">
                <div class="text">
                    <h2 class="topic-heading"> {% if count_babies %} {{ count_babies }} {% endif %} </h2>
                    <h2 class="topic">Total Babies</h2>
                </div>

                <img src=" {% static "css/images/baby_icon2.png" %}" alt="Views">
            </div><br><br>

            <div class="box box2" style="margin-right:5px; margin-top:20px;">
                <div class="text">
                    <h2 class="topic-heading"> {% if count_sitters %} {{ count_sitters }} {% endif %} </h2>
                    <h2 class="topic">Total sitters</h2>

                </div>

                <img src=" {% static "css/images/sitter_icon2.png" %}" alt="Views">
            </div>

        {% comment %} </div> {% endcomment %}


        {% comment %} <div> {% endcomment %}
            <div class="box box3" style="background-color:#3F0097; margin-top:20px;">
                <div class="text">
                    <h2 class="topic-heading"> {% if count_dolls %} {{ count_dolls }} {% endif %} </h2>
                    <h2 class="topic">Total dolls</h2>
                </div>

                <img src=" {% static "css/images/doll_icon2.png" %}" alt="Views">
            </div><br><br>

            <div class="box box4" style="background-color:#5500CB; margin-right:20px; margin-top:20px;">
                <div class="text">
                    <h2 class="topic-heading"> {% if count_stock %}{{ count_stock }}{% endif %} </h2>
                    <h2 class="topic">Total stock</h2>
                </div>

                <img src=" {% static "css/images/stock_icon1.png" %}" alt="Views">
            </div>
        {% comment %} </div> {% endcomment %}

    </div>
                    <div class="container2">
                        <div class="report-header">
                            <h1 class="recent-Articles">Recent Babies</h1>
                            <a href=" {% url "beb_reg_form" %}" ><button class="view" style="padding:8px; width:80px;"> View All</button></a>
                        </div>
                    
                    
                        <div class="table_container">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover">
                                    <thead class="table-head" class="thead">
                                        <tr class="table">
                                            <th scope="col" class="no">#</th>
                                            <th scope="col" class="no">Name</th>
                                            <th scope="col" class="no">Gender</th>
                                            <th scope="col" class="no">Date of birth</th>
                                            <th scope="col" class="no">Location</th>
                                            <th scope="col" class="no">Action</th>
                                                        
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for baby in last_babies %}
                                        <tr style="background-color: white;">
                                            <td>{{ baby.baby_id }}</td>
                                            <td>{{ baby.baby_name }}</td>
                                            <td>{{ baby.baby_gender }}</td>
                                            <td>{{ baby.date_of_birth }}</td>
                                            <td>{{ baby.baby_location }}</td>
                                                    
                                            <td>   
                                                <a href="{% url "baby_view" id=baby.baby_id %}" class="btn btn-primary" style="padding:8px; width:80px;">View</a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            
                            </div>
                            </div>
                    </div>
                    </div><br><br>
          
<div class="container2">
    <div class="report-header">
        <h1 class="recent-Articles">Recent Sitters </h1>
        <a href=" {% url "sit_reg_form" %}" ><button class="view" style="padding:8px; width:80px;">View All</button></a>
    </div>

        

    <div class="table_container">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="table-head">
                    <tr class="table">
                        <th scope="col" class="no">#</th>
                        <th scope="col" class="no">Name</th>
                        <th scope="col" class="no">Gender</th>
                        <th scope="col" class="no">Location</th>
                        <th scope="col" class="no">Date of Birth</th>
                        <th scope="col" class="no">Action</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for sitter in last_sitters %}
                    <tr style="background-color: white;">
                        <td>{{ sitter.id }}</td>
                        <td>{{ sitter.name }}</td>
                        <td>{{ sitter.gender }}</td>
                        <td>{{ sitter.location }}</td>
                        <td>{{ sitter.date_of_birth }}</td>
                       
                        <td>   
                            <a href="{% url 'sit_view' id=sitter.id %}" class="btn btn-primary" style="padding:8px; width:80px;">View</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        
        </div>
        </div>
</div>
</div><br><br>
</body>
{% endblock %} 