{% extends 'daystarApp/base.html' %}
{% load crispy_forms_tags %}
{% load static %}


<body>
    {% block content %}

    <style>
        #id_doll_name{
            width: 50%;
            border: 1px solid green;
            border-radius: 10px;


        }
    </style>
    
<form method="POST" action="">

    {% csrf_token %}

    <div class="col-span-2 p-4">
        <img src="https://picsum.photos/200" class="h-[150px] rounded-lg" alt="">
    </div>

   <div>
    {{ baby_dolls.doll_type.label_tag }}
    {{ baby_dolls.doll_type }}
    {{ baby_dolls.doll_type.errors }}
   </div>
    <div>
    {{ baby_dolls.doll_name.label_tag }}
    {{ baby_dolls.doll_name }}
    {{ baby_dolls.doll_name.errors }}
   </div>
    <div>
    {{ baby_dolls.doll_price.label_tag }}
    {{ baby_dolls.doll_price }}
    {{ baby_dolls.doll_price.errors }}
   </div>
   <button type="submit" class="btn btn-primary">Submit</button>

</form>
</body>
{% endblock %}