{% extends 'daystarApp/base.html' %}


{% load static %}

{% block content%}

<style>
    
    
    .table-responsive {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
    }
    h4{margin-left:490px;
    margin-top:5px ;}

    .table-container {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        overflow-x: auto; /* Ensure horizontal scroll when needed */
        max-width: 100%; /* Ensure the table container doesn't overflow its parent */
    }
    .table-responsive {
        overflow-x: auto; /* Ensure horizontal scroll when needed */
    }
    h4 {
        margin-left: 490px;
        margin-top: 5px;
        color:#0C356A;
    }
        
</style>
</head>
<body>
<h4 class="mb-3">Sitter arrival details</h4>
<a href="/sit_adds" class="btn btn-primary mb-3">Add new sitter</a>

<div class="table_container">
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr class="table-dark">
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Sitter's Number</th>
                <th scope="col">Date</th>
                <th scope="col">Time in</th>
                <th scope="col">Attendance status</th>
                <th scope=>Action</th>
               
            </tr>
        </thead>
        <tbody>
            {% for sitter in sit_arrive %}
            <tr style="background-color: white;">
                <td>{{ sitter.id }}</td>
                <td>{{ sitter.sitter_name }}</td>
                <td>{{ sitter.sitter_number }}</td>
                <td>{{ sitter.date_of_arrival }}</td>
                <td>{{ sitter.timein }}</td>
                <td>{{ sitter.Attendancestatus }}</td>
                <td>   
                    <a href="{% url 'sit_views' id=sitter.id %}" class="btn btn-primary">View</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
</div>


{% endblock %}