{% extends 'daystarApp/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<style>
    .baby-form {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        max-width: 50%;
        margin: auto;
        padding: 15px;
        background-color: white;
        border-radius: 0px;
        border: none;
    }

    .baby-form label {
        font-weight: bold;
        margin-bottom: 5px;
    }

    .baby-form input[type="text"],
    .baby-form select {
        width: 100%;
        padding: 8px;
        border: none;
        border-bottom: 1px solid black;
        box-sizing: border-box;
    }

    .baby-form button[type="submit"] {
        margin-top: 10px;
        color: white;
        border: none;
        font-size: 16px;
        cursor: pointer;
        padding: 10px 20px;
        {% comment %} background:#3f0097; {% endcomment %}
        width:150px;
        border-radius:30px;
        font-weight: bold;
        text-align: center;

       
    }

    #back{
        margin-top: 10px;
        color: white;
        border: none;
        font-size: 16px;
        cursor: pointer;
        padding: 10px 20px;
        background:#3f0097;
        width:150px;
        border-radius:30px;
        font-weight: bold;
        text-align: center;
    }

    h4 {
        text-align: center;
        font-size: 30px; 
        font-weight: 600; 
        color: #5500cb; 
        margin: 20px;
    }
</style>

<div class="container">
    <br><br>
    <form method="POST" class="baby-form">
        <h4>Add new baby sitter</h4><br>
        {% csrf_token %}
        {{ form | crispy }}
        <div>
        <button type="submit" class="btn btn-primary">Add</button>
        <a href="/sit_reg_form"><button type="button" class="btn btn-primary" id="back">Go back</button></a>
        </div>
    </form>
</div><br><br>

{% endblock %}
