{% extends 'daystarApp/base.html' %}
{% load static %}

{% block content %}

<style>
    .table-container {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        overflow-x: auto;
        max-width: 100%;
        margin: 20px;
        padding: 20px;
        background-color: white;
        border-radius: 20px;
    }

    .table-responsive {
        overflow-x: auto;
    }

    .report-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0px;
    }

    .report-header h1 {
        color: #5500cb;
        margin: 0;
    }

    .btn-primary, .view {
        padding: 8px;
        background-color: #5500cb;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
    }

    .btn-primary:hover {
        background-color: #092146;
        text-decoration: none;
    }

    .table thead {
        background-color: #5500cb;
        color: white;
    }

    .table thead th {
        border-bottom: none;
    }

    .view {
        color: white;
        background-color: blue;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
        padding: 5px;
        margin-right: 5px;
    }

    .view:hover {
        color: white;
        text-decoration: none;
    }
</style>

<div class="table-container">
    <div class="report-header">
        <h1 class="recent-Articles">All available stock</h1>
        <div>
            <a href="{% url 'add_stock' %}" class="btn-primary">Add new stock</a>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Stock type</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th> 
                    <th scope="col">Quantity</th>
                    <th scope="col">Description</th> 
                    <th scope="col">Date stocked</th>                        
                    <th scope="col">Action</th>
                </tr>  
            </thead>
            <tbody>
                {% for stock in stock_list %}
                <tr style="background-color: white;">
                    <td>{{ stock.stock_id }}</td>
                    <td>{{ stock.stock_type }}</td>
                    <td>{{ stock.stock_name }}</td>
                    <td>{{ stock.stock_price }}</td>
                    <td>{{ stock.stock_quantity }}</td>
                    <td>{{ stock.stock_description }}</td>
                    <td>{{ stock.date_stocked }}</td>
                    <td>
                        <a href="{% url 'stock_view' id=stock.stock_id %}" class="view">View</a>
                        <a href="{% url 'add_one_stock' id=stock.stock_id %}" class="view">Add</a>
                        <a href="{% url 'stock_edit' id=stock.stock_id %}" class="view">Edit</a>
                        <a href="{% url 'stock_issue' id=stock.stock_id %}" class="view">Issue </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
